# ===== POSTGRESQL =====
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DBNAME=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe

# ===== ELASTICSEARCH =====
ELASTICSEARCH_HOST=http://localhost:9200
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_HOSTS=http://elasticsearch:9200

# ===== KIBANA =====
KIBANA_PORT=5601